.swiper {
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  display: flex;
  width: 100%;
  height: 100%;
}

.swiper-item {
  scroll-snap-align: start;
  @include flex();
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 10px solid red;
  box-sizing: border-box;
  font-size: 60px;
  font-weight: bold;
}