// 超出 X 行省略
@mixin text-line($number: 1) {
  @if $number >= 2 {
    @extend %box;
    -webkit-line-clamp: $number;
    -webkit-box-orient: vertical;
  } @else {
    white-space: nowrap;
  }
  overflow: hidden;
  text-overflow: ellipsis;
}

// 圆角 
@mixin border-radius($value: 50%) {
  border-radius: $value
}

@mixin flex($x: center, $y: center) {
  @extend %flex;
  @extend %justify-#{$x};
  @extend %items-#{$y};
}