%flex {
  display: flex;
}
%inline-flex {
  display: inline-flex;
}


// 主轴排列方式
%justify-start {
  justify-content: flex-start;
}
%justify-center {
  justify-content: center;
}
%justify-end {
  justify-content: flex-end;
}
%justify-between {
  justify-content: space-between;
}
%justify-around {
  justify-content: space-around;
}
%justify-evenly {
  justify-content: space-evenly;
}


// 副轴排列方式
%items-start {
  align-items: flex-start;
}
%items-center {
  align-items: center;
}
%items-end {
  align-items: flex-end;
}
%items-baseline {
  align-items: baseline;
}
%items-stretch {
  align-items: stretch;
}


// 排列方向
%column {
  flex-direction: column;
}
%column-reverse {
  flex-direction: column-reverse;
}
%row {
  flex-direction: row;
}
%row-reverse {
  flex-direction: row-reverse;
}


// 其他常用属性
%flex-wrap {
  flex-wrap: wrap;
}
%flex-1 {
  flex: 1;
}